<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<style>
		* {
			margin: 0;
			padding: 0;
			font-family: Arial, Helvetica, sans-serif;
		}
		html, body {
			margin: 0;
			padding: 0;
		}
		img {
			border: none;
		}
		a {
			text-decoration: none;
			outline: none;
		}
		ul {
			list-style: none;
		}
	</style>
</head>

<body style=" margin:30px 30px;background:#f7f7f7;-webkit-font-smoothing: antialiased;">

<table width="602" border="0" style="">

	<tr style="height:50px;">
		<td style="vertical-align:top;border-bottom:1px solid #d9d9d9;"><h2 style="font:21px 'AvenirLT65Medium', sans-serif; color:#313131;">Successfully Signup at Proglobe</h2></td>
		<td style="vertical-align:top;border-bottom:1px solid #d9d9d9;"></td>
	</tr>

	<tr style="">
		<td colspan="2" style="vertical-align:top;">
			<h3 style="font:21px 'AvenirLT65Medium', sans-serif; color:#313131; margin-top:20px;">Hello <span style="font:21px 'AvenirLT85Heavy', sans-serif; color:#313131;"><%- name %>,</span></h3>
			<p style="font:15px 'AvenirLT65Medium', sans-serif; color:#313131; margin-top:20px;">You have successfully signup at Proglobe.</p>
		</td>

	</tr>




</table>


</body>
</html>
